<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Connect</name>
    <description>
        Connect Description
    </description>
    <author email="overstepco@gmail.com" href="http://overstep.co">
        Overstep Team
    </author>
    <content src="index.html" />
    <access origin="*" />


  <plugin name="cordova-plugin-whitelist" />
	
<access origin=" https://www.googleapis.com/" />
<access origin=" http://www.googleapis.com/" />
</widget>
