<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>846822998925-a67mqa1oc447ape3tovp783ijjg21pui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846822998925-a67mqa1oc447ape3tovp783ijjg21pui</string>
	<key>API_KEY</key>
	<string>AIzaSyBLJ6res1JJHFrqPbYZO9fRDjpN3ZQ1KY8</string>
	<key>GCM_SENDER_ID</key>
	<string>846822998925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.Connekt</string>
	<key>PROJECT_ID</key>
	<string>connect-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846822998925:ios:727ad323cf04f04c</string>
	<key>DATABASE_URL</key>
	<string>https://connect-proj.firebaseio.com</string>
</dict>
</plist>