:root {
  --f7-message-bubble-border-radius: 15px;
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
    local('Framework7Icons-Regular'),
    url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
    url("../fonts/Framework7Icons-Regular.woff") format("woff"),
    url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Material-Icons.woff2") format('woff2');
}

/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Material-Icons-Outlined.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: var(--f7-theme-color);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.navbar-home {
  background-color: rgba(255, 255, 255, .9);
}

.title {
  margin: 16px 16px 8px 16px;
  font-size: 15pt;
  font-weight: bold;
  text-transform: capitalize;
}

.card-block {
  margin: 16px;
  padding: 8px;
  border: .5px solid lightgray;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, .05);
  transition: all .2s cubic-bezier(.5, .5, 0, 1);
}

.card-block * {
  background-color: #f9f9f9;
}

img {
  border-radius: 50%;
}

.chip {
  margin: 8px;
}

.chip-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.li-profile-pic {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.delay-1ds {
  animation-delay: .1s;
}

.delay-2ds {
  animation-delay: .2s;
}

.delay-3ds {
  animation-delay: .3s;
}

.delay-4ds {
  animation-delay: .4s;
}

.delay-5ds {
  animation-delay: .5s;
}

.message-bubble {
  padding: 10px;
}

.message-bubble::before {
  display: none;
}

/********** PANEL **********/
.panel-header {
  margin: 0;
  padding: 16px;
  box-shadow: 0 0px 10px 0px rgba(var(--f7-theme-color-rgb), 0.3);
}

.panel-header p {
  opacity: 0.7;
}

.panel-header * {
  margin: 0;
}

.panel-header img {
  width: 65px
}

.panel-header .list {
  margin: 5px;
}

.hairline {
  height: 2px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, .05);
}

.list-title {
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 16px 16px 16px
}

/********** HOME **********/
.school-header h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15pt;
  margin: 0;
}

.school-header p {
  font-size: 8pt;
  margin: 0;
  opacity: .7;
}

.event-swiper .swiper-slide {
  width: auto;
}

.event-swiper .slide-content {
  font-size: 25px;
  color: white;
  background-color: var(--f7-theme-color);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 32px 16px 16px 16px;
}

.slide-text {
  margin: 16px 16px 0 0;
}

.slide-image {
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 16px;
  padding-top: 100%;
  border-radius: 10px;
  transform: translateY(-32px);
  margin-bottom: 0;
}

.slide-content .slide-title {
  font-size: 18pt;
  margin: 0
}

.slide-content p {
  font-size: 12pt;
  opacity: 0.7;
  margin: 0;
}

.slide-guests {
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
}

.slide-guests .img {
  height: 32px;
  width: 32px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.slide-guests .as {
  font-size: 15pt;
  background-color: white;
  border-radius: 10px;
  transform: translateY(-30px);
  padding: 8px 16px 8px 16px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.collapsible-toggle {
  transform: rotate(0);
  transition: all .2s cubic-bezier(.5, .5, 0, 1);
  transition-delay: .3s;
}

.active {
  transform: rotate(180deg);
  transition-delay: .3s;
}

.collapsible {
  height: 0px;
  overflow: hidden;
  transition: height .3s cubic-bezier(.5, .5, 0, 1);
}

.expanded {
  height: 200px
}

.collapsible-content {
  height: 100%;
  background-color: white;
  padding: 16px;
  color: black;
  font-size: 15px;
}

.searchbar-input-wrap {
  margin: 16px;
}

.lightbox {
  position: fixed;
  width: 80%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.2);
}

/********** PROFILE **********/
.profile-bg {
  height: 200px;
  background: linear-gradient(90deg, var(--f7-theme-color), #2245f5);
}

.profile-pic {
  width: 150px;
  height: 150px;
  background-image: url('https://media.golfdigest.com/photos/5a0c8a63d14646526333dbe2/master/w_768,c_limit/Screen%2520Shot%25202017-11-15%2520at%25201.41.19%2520PM.png');
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, .3);
}

.edit-profile-pic {
  background-image: url('https://www.teslarati.com/wp-content/uploads/2019/02/elon-tusk.jpg');
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle {
  border-radius: 50%;
}

.profile-bump {
  height: 50px;
  width: 100%;
}

.profile-title {
  margin: 0;
  font-size: 20pt;
  letter-spacing: 1px;
  color: var(--f7-theme-color);
}

/********** NEW EVENT **********/
.event-image {
  background-size: cover;
  background-position: center;
  margin: 16px;
  padding-top: 100%;
  border-radius: 10px;
}

/********** PREVIEW CHAT **********/
.chat-description {
  margin-top: var(--f7-navbar-height);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 16px 32px;
}

/********** SCHOOL SEARCH **********/
.school-attributes {
  margin-left: 16px;
}

.school-attributes p {
  margin: 8px 0;
}

/********** WELCOME **********/
.welcome-swiper .slide-content {
  display: flex;
  align-items: center;
  padding: 32px;
  height: 50vh;
}

.welcome-swiper .slide-description {
  padding: 32px;
}

.welcome-swiper {
  height: 100vh;
  overflow: hidden;
}

.swiper-pagination-bullet {
  border-radius: 4px;
  width: 16px;
  transition: all .4s cubic-bezier(.5, .5, 0, 1);
}

.swiper-pagination-bullet-active {
  width: 32px;
}

.chevron {
  bottom: 45px;
  right: 60px;
  position: absolute;
  width: 4px;
  height: 32px;
  opacity: 0;
  transform: scale(0.5);
  animation: move-chevron 6s cubic-bezier(.5, .5, 0, 1) infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 6s cubic-bezier(.5, .5, 0, 1) 3s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  height: 62.5%;
  width: 100%;
  background: var(--f7-theme-color);
  border-radius: 2px;
}

.chevron:before {
  bottom: 0;
  transform: rotate(45deg);
}

.chevron:after {
  top: 0;
  transform: rotate(-45deg);
}

@keyframes move-chevron {
  0% {
    transform: translateX(-32px);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(32px) scale(0.5);
  }
}

/*Sign in / Sign up*/
.login-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px solid var(--f7-theme-color);
}

.square {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  transform: translateX(160%) rotate(45deg);
  animation: square .5s cubic-bezier(.5, .5, 0, 1);
}

.si .square {
  transform: translateX(60%) rotate(45deg);
  animation: square-si .5s cubic-bezier(.5, .5, 0, 1);
}

.arrow-head:before,
.arrow-head:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--f7-theme-color);
}

.arrow-head:before {
  transform: translate(-10px, 2px) rotate(90deg);
  animation: bottom .5s cubic-bezier(.5, .5, 0, 1);
}

.si .arrow-head:before {
  transform: translate(-10px, 2px) rotate(45deg);
  animation: bottom-si .5s cubic-bezier(.5, .5, 0, 1);
}

.arrow-head:after {
  transform: translate(-10px, -8px) rotate(-90deg);
  animation: top .5s cubic-bezier(.5, .5, 0, 1);
}

.si .arrow-head:after {
  transform: translate(-10px, -8px) rotate(-45deg);
  animation: top-si .5s cubic-bezier(.5, .5, 0, 1);
}

.arrow-tail {
  position: absolute;
  width: 30px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--f7-theme-color);
  transform: translateX(0);
  animation: tail .5s cubic-bezier(.5, .5, 0, 1);
}

.si .arrow-tail {
  transform: translateX(15px);
  width: 40px;
  animation: tail-si .5s cubic-bezier(.5, .5, 0, 1);
}

@keyframes square {
  from {
    transform: translateX(60%) rotate(45deg);
  }

  to {
    transform: translateX(160%) rotate(45deg);
  }
}

@keyframes square-si {
  from {
    transform: translateX(160%) rotate(45deg);
  }

  to {
    transform: translateX(60%) rotate(45deg);
  }
}

@keyframes top {
  from {
    transform: translate(-10px, -8px) rotate(-45deg);
  }

  to {
    transform: translate(-10px, -8px) rotate(-90deg);
  }
}

@keyframes top-si {
  from {
    transform: translate(-10px, -8px) rotate(-90deg);
  }

  to {
    transform: translate(-10px, -8px) rotate(-45deg);
  }
}

@keyframes bottom {
  from {
    transform: translate(-10px, 2px) rotate(45deg);
  }

  to {
    transform: translate(-10px, 2px) rotate(90deg);
  }
}

@keyframes bottom-si {
  from {
    transform: translate(-10px, 2px) rotate(90deg);
  }

  to {
    transform: translate(-10px, 2px) rotate(45deg);
  }
}

@keyframes tail {
  from {
    transform: translateX(15px);
  }

  to {
    transform: translateX(0);
    width: 30px;
  }
}

@keyframes tail-si {
  from {
    transform: translateX(0);
    width: 30px;
  }

  to {
    transform: translateX(15px);
  }
}