/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.card-header-pic .card-content-padding .date{
  color: #8e8e93;
}

.school-header {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/International_School_of_Hamburg.jpg/1200px-International_School_of_Hamburg.jpg);
    height: 200px;
    color: white;
}

.bold {
    font-weight: bold;
}



/********** PANEL **********/
.panel-header {
    margin: 15px;
    padding: 0;
}


.panel-header * {
    margin: 0
}


.panel img {
    width: 65px
        
}

.panel .list {
    margin: 5px;
}

.hairline {
    height: 1px;
    background-color: lightgray;
}

